In [1]:
import os
os.chdir('D:\\Gnan\\DA\\KMU\\Prediction-COVID-19')
from utils import *

In [2]:
df_variants = pd.read_csv('Data/Variants/Variants.csv')
df_variants = df_variants.fillna(0)
df_variants

            Date  Others  Omicron  Alpha  Delta  recombinant   22D   23A
0     2020-08-03     1.0      0.0    0.0    0.0          0.0  0.00  0.00
1     2020-08-04     1.0      0.0    0.0    0.0          0.0  0.00  0.00
2     2020-08-05     1.0      0.0    0.0    0.0          0.0  0.00  0.00
3     2020-08-06     1.0      0.0    0.0    0.0          0.0  0.00  0.00
4     2020-08-07     1.0      0.0    0.0    0.0          0.0  0.00  0.00
...          ...     ...      ...    ...    ...          ...   ...   ...
1003  2023-05-03     0.0      1.0    0.0    0.0          0.0  0.19  0.64
1004  2023-05-04     0.0      1.0    0.0    0.0          0.0  0.19  0.64
1005  2023-05-05     0.0      1.0    0.0    0.0          0.0  0.19  0.64
1006  2023-05-06     0.0      1.0    0.0    0.0          0.0  0.19  0.64
1007  2023-05-07     0.0      1.0    0.0    0.0          0.0  0.19  0.64

[1008 rows x 8 columns]

In [3]:
path = 'Data/Cleaned_deathCnt/*.csv'
dic_files = Load_files.load_files(path, -14, -12)
data = dic_files['서울']
data

,deathCnt,defCnt,gubun,gubunEn,incDec,isolClearCnt,isolIngCnt,localOccCnt,overFlowCnt,qurRate,stdDay
0,0,0,서울,Seoul,0.0,0,0,0,0,0.0,2020-01-20
1,0,0,서울,Seoul,0.0,0,0,0,0,0.0,2020-01-21
2,0,0,서울,Seoul,0.0,0,0,0,0,0.0,2020-01-22
3,0,0,서울,Seoul,0.0,0,0,0,0,0.0,2020-01-23
4,0,1,서울,Seoul,1.0,0,1,0,1,0.0,2020-01-24
...,...,...,...,...,...,...,...,...,...,...,...
1214,6471,6162486,서울,Seoul,4329.0,0,0,4371,0,65361.0,2023-05-20
1215,6473,6166682,서울,Seoul,4196.0,0,0,4195,1,65406.0,2023-05-21
1216,6476,6167953,서울,Seoul,1271.0,0,0,1271,0,65419.0,2023-05-22
1217,6477,6173315,서울,Seoul,5362.0,0,0,5359,3,65476.0,2023-05-23
1218,6479,6178627,서울,Seoul,5312.0,0,0,5310,2,65532.0,2023-05-24

In [6]:
alpha = df_variants['Alpha'][252:378].reset_index(drop = True)
delta = df_variants['Delta'][252:378].reset_index(drop = True)
omicron_22D = df_variants['22D'][868:-3].reset_index(drop = True)
omicron_23A = df_variants['23A'][868:-3].reset_index(drop = True)

for city, data in dic_files.items():
    df_alpha_delta = data.iloc[448:448+126, [4, 10]].reset_index(drop = True).copy()
    df_alpha_delta['alpha_variants'] = df_alpha_delta['incDec']*alpha
    df_alpha_delta['delta_variants'] = df_alpha_delta['incDec']*delta
    df_alpha_delta = df_alpha_delta[['stdDay', 'incDec', 'alpha_variants', 'delta_variants']]
    df_alpha_delta.to_csv(f"Data/Variants/alpha_delta/{city}_alpha_delta.csv", encoding = 'cp949', index = False)