In [1]:
import os
os.chdir('D:\\Gnan\\DA\\KMU\\Prediction-COVID-19')
from utils import *
#from train import train

In [5]:
path = 'Data/Cleaned_deathCnt/*.csv'
dic_files = Load_files.load_files(path)

In [8]:
file = dic_files['서울']

In [9]:
df = pd.DataFrame()

df['Date'] = file['stdDay']
df['Death_AC'] = file['deathCnt']               # 누적 사망자 수
df['Death'] = df['Death_AC'].diff().fillna(0)   # 일일 사망자
df['Inf_AC'] = file['defCnt']                   # 누적 감염자

Recover1 = 7     # 자가격리 해제 기간
Recover2 = 14    # 변이별 데이터가 없기 때문에 14일만 사용함

# 감염자(자가격리자) 수 계산
# t일 감염자 수 = t일 누적 감염자 수 - (t-14)일 누적 감염자 수
df['Infected'] = df['Inf_AC'] 
df.iloc[Recover2:, -1] = (df.iloc[Recover2:, -1]
                          .reset_index(drop = True)
                          .sub(df.iloc[:len(df) - Recover2, -1]))

Total = 9776000     # 서울시 인구 ( 2017년 기준 )
Reinfectable = 90   # 면역력 보유 기간

# 회복자(면역력 보유자) 수 계산
# t일 회복자 수 = (t-14)일 감염자 수 - (t-90)일 회복자 수 - t일 사망자 수
df['Recovered'] = 0
df.iloc[Recover2:, -1] = df.iloc[:len(df) - Recover2, 3]
df['Recovered_Ori'] = df['Recovered']
df.iloc[Reinfectable:, -1] = (df.iloc[Reinfectable:, -1]
                              .reset_index(drop = True)
                              .sub(df.iloc[:len(df) - Reinfectable, -1]))
df['Recovered'] = df['Recovered'] - df['Death']

# 생존자 수 계산
# t일 생존자 수 = t일 총 인구 - t일 감염자 - t일 회복자 - t일 사망자
df['Survived'] = Total
df['Survived'] = df['Survived'] - df['Infected'] - df['Recovered'] - df['Death']


df[500:550]

,Date,Death_AC,Death,Inf_AC,Infected,Recovered,Recovered_Ori,Survived
500,2021-06-03,495,3.0,44534,2635,41896.0,14796,9731466.0
501,2021-06-04,496,1.0,44740,2669,42070.0,14845,9731260.0
502,2021-06-05,496,0.0,45017,2738,42279.0,14923,9730983.0
503,2021-06-06,497,1.0,45196,2736,42459.0,14998,9730804.0
504,2021-06-07,497,0.0,45355,2756,42599.0,15012,9730645.0
505,2021-06-08,498,1.0,45494,2757,42736.0,15006,9730506.0
506,2021-06-09,499,1.0,45677,2679,42997.0,15145,9730323.0
507,2021-06-10,499,0.0,45889,2673,43216.0,15232,9730111.0
508,2021-06-11,499,0.0,46093,2663,43430.0,15315,9729907.0
509,2021-06-12,499,0.0,46301,2677,43624.0,15389,9729699.0
510,2021-06-13,501,2.0,46477,2693,43782.0,15457,9729523.0
511,2021-06-14,501,0.0,46599,2685,43914.0,15465,9729401.0
512,2021-06-15,502,1.0,46730,2669,44060.0,15493,9729270.0
513,2021-06-16,503,1.0,46931,2612,44318.0,15633,9729069.0
514,2021-06-17,504,1.0,47132,2598,44533.0,15719,9728868.0
515,2021-06-18,505,1.0,47332,2592,44739.0,15797,9728668.0
516,2021-06-19,506,1.0,47529,2512,45016.0,15942,9728471.0
517,2021-06-20,507,1.0,47694,2498,45195.0,16021,9728306.0
518,2021-06-21,508,1.0,47828,2473,45354.0,16078,9728172.0
519,2021-06-22,509,1.0,47959,2465,45493.0,16079,9728041.0
520,2021-06-23,510,1.0,48195,2518,45676.0,16124,9727805.0
521,2021-06-24,510,0.0,48447,2558,45889.0,16196,9727553.0
522,2021-06-25,511,1.0,48716,2623,46092.0,16260,9727284.0
523,2021-06-26,512,1.0,48979,2678,46300.0,16356,9727021.0
524,2021-06-27,512,0.0,49221,2744,46477.0,16423,9726779.0
525,2021-06-28,513,1.0,49406,2807,46598.0,16466,9726594.0
526,2021-06-29,513,0.0,49611,2881,46730.0,16477,9726389.0
527,2021-06-30,513,0.0,49986,3055,46931.0,16554,9726014.0
528,2021-07-01,514,1.0,50319,3187,47131.0,16609,9725681.0
529,2021-07-02,515,1.0,50665,3333,47331.0,16694,9725335.0
530,2021-07-03,516,1.0,51024,3495,47528.0,16766,9724976.0
531,2021-07-04,516,0.0,51313,3619,47694.0,16822,9724687.0
532,2021-07-05,517,1.0,51620,3792,47827.0,16859,9724380.0
533,2021-07-06,518,1.0,51940,3981,47958.0,16853,9724060.0
534,2021-07-07,518,0.0,52522,4327,48195.0,16962,9723478.0
535,2021-07-08,518,0.0,53072,4625,48447.0,17093,9722928.0
536,2021-07-09,519,1.0,53575,4859,48715.0,17235,9722425.0
537,2021-07-10,521,2.0,54084,5105,48977.0,17360,9721916.0
538,2021-07-11,523,2.0,54593,5372,49219.0,17495,9721407.0
539,2021-07-12,523,0.0,54996,5590,49406.0,17535,9721004.0
540,2021-07-13,523,0.0,55413,5802,49611.0,17582,9720587.0
541,2021-07-14,524,1.0,56050,6064,49985.0,17758,9719950.0
542,2021-07-15,525,1.0,56569,6250,50318.0,17925,9719431.0
543,2021-07-16,525,0.0,57138,6473,50665.0,18116,9718862.0
544,2021-07-17,527,2.0,57697,6673,51022.0,18326,9718303.0
545,2021-07-18,527,0.0,58219,6906,51313.0,18463,9717781.0
546,2021-07-19,527,0.0,58638,7018,51620.0,18623,9717362.0
547,2021-07-20,527,0.0,59032,7092,51940.0,18745,9716968.0
548,2021-07-21,528,1.0,59636,7114,52521.0,19083,9716364.0
549,2021-07-22,528,0.0,60135,7063,53072.0,19418,9715865.0

In [12]:
df['alpha'] = (-1 * Total * (df['Survived'].diff()[1:].reset_index(drop = True))) / (df['Survived'] * df['Infected'])
df['beta'] = (df['Recovered'].diff()[1:].reset_index(drop = True)) / df['Infected']
df['gamma'] = (df['Death'].diff()[1:].reset_index(drop = True)) / df['Infected']
df.head(20)

,Date,Death_AC,Death,Inf_AC,Infected,Recovered,Recovered_Ori,Survived,alpha,beta,gamma
0,2020-01-20,0,0.0,0,0,0.0,0,9776000.0,NaN,NaN,NaN
1,2020-01-21,0,0.0,0,0,0.0,0,9776000.0,NaN,NaN,NaN
2,2020-01-22,0,0.0,0,0,0.0,0,9776000.0,NaN,NaN,NaN
3,2020-01-23,0,0.0,0,0,0.0,0,9776000.0,inf,NaN,NaN
4,2020-01-24,0,0.0,1,1,0.0,0,9775999.0,-0.000000,0.000000,0.0
5,2020-01-25,0,0.0,1,1,0.0,0,9775999.0,-0.000000,0.000000,0.0
6,2020-01-26,0,0.0,1,1,0.0,0,9775999.0,-0.000000,0.000000,0.0
7,2020-01-27,0,0.0,1,1,0.0,0,9775999.0,-0.000000,0.000000,0.0
8,2020-01-28,0,0.0,1,1,0.0,0,9775999.0,-0.000000,0.000000,0.0
9,2020-01-29,0,0.0,1,1,0.0,0,9775999.0,3.000000,0.000000,0.0
10,2020-01-30,0,0.0,4,4,0.0,0,9775996.0,0.750000,0.000000,0.0
11,2020-01-31,0,0.0,7,7,0.0,0,9775993.0,-0.000000,0.000000,0.0
12,2020-02-01,0,0.0,7,7,0.0,0,9775993.0,0.142857,0.000000,0.0
13,2020-02-02,0,0.0,8,8,0.0,0,9775992.0,-0.000000,0.000000,0.0
14,2020-02-03,0,0.0,8,8,0.0,0,9775992.0,-0.000000,0.000000,0.0
15,2020-02-04,0,0.0,8,8,0.0,0,9775992.0,0.250000,0.000000,0.0
16,2020-02-05,0,0.0,10,10,0.0,0,9775990.0,0.200000,0.000000,0.0
17,2020-02-06,0,0.0,12,12,0.0,0,9775988.0,-0.000000,0.083333,0.0
18,2020-02-07,0,0.0,12,11,1.0,1,9775988.0,-0.000000,0.000000,0.0
19,2020-02-08,0,0.0,12,11,1.0,1,9775988.0,-0.000000,0.000000,0.0

In [426]:
df_final = df[['Date', 'Survived', 'Infected', 'Recovered', 'Death', 'alpha', 'beta', 'gamma']]
df_final

KeyError: "['alpha', 'beta', 'gamma'] not in index"

In [13]:
df2 = df.copy()
df2['alpha'] = (-1 * Total * (df['Survived'].diff().fillna(0)[1:].reset_index(drop = True))) / (df['Survived'] * df['Infected'])
df2.iloc[Reinfectable:-1, -1] = (-1 * Total * (df['Survived'].diff().fillna(0)[Reinfectable + 1:].reset_index(drop = True).sub(df.iloc[:len(df) - Reinfectable - 1, 3]))) / (df['Survived'][Reinfectable:-1].reset_index(drop = True) + df['Infected'][Reinfectable:-1].reset_index(drop = True))
df2.loc[df2['alpha'] == 0, 'alpha'] = 0
df2['beta'] = (df['Recovered_Ori'].diff()[1:].reset_index(drop = True)) / df['Infected']
df2['gamma'] = (df['Death_AC'].diff()[1:].reset_index(drop = True)) / df['Infected']

df2.head(20)

,Date,Death_AC,Death,Inf_AC,Infected,Recovered,Recovered_Ori,Survived,alpha,beta,gamma
0,2020-01-20,0,0.0,0,0,0.0,0,9776000.0,NaN,NaN,NaN
1,2020-01-21,0,0.0,0,0,0.0,0,9776000.0,NaN,NaN,NaN
2,2020-01-22,0,0.0,0,0,0.0,0,9776000.0,NaN,NaN,NaN
3,2020-01-23,0,0.0,0,0,0.0,0,9776000.0,inf,NaN,NaN
4,2020-01-24,0,0.0,1,1,0.0,0,9775999.0,0.000000,0.000000,0.0
5,2020-01-25,0,0.0,1,1,0.0,0,9775999.0,0.000000,0.000000,0.0
6,2020-01-26,0,0.0,1,1,0.0,0,9775999.0,0.000000,0.000000,0.0
7,2020-01-27,0,0.0,1,1,0.0,0,9775999.0,0.000000,0.000000,0.0
8,2020-01-28,0,0.0,1,1,0.0,0,9775999.0,0.000000,0.000000,0.0
9,2020-01-29,0,0.0,1,1,0.0,0,9775999.0,3.000000,0.000000,0.0
10,2020-01-30,0,0.0,4,4,0.0,0,9775996.0,0.750000,0.000000,0.0
11,2020-01-31,0,0.0,7,7,0.0,0,9775993.0,0.000000,0.000000,0.0
12,2020-02-01,0,0.0,7,7,0.0,0,9775993.0,0.142857,0.000000,0.0
13,2020-02-02,0,0.0,8,8,0.0,0,9775992.0,0.000000,0.000000,0.0
14,2020-02-03,0,0.0,8,8,0.0,0,9775992.0,0.000000,0.000000,0.0
15,2020-02-04,0,0.0,8,8,0.0,0,9775992.0,0.250000,0.000000,0.0
16,2020-02-05,0,0.0,10,10,0.0,0,9775990.0,0.200000,0.000000,0.0
17,2020-02-06,0,0.0,12,12,0.0,0,9775988.0,0.000000,0.083333,0.0
18,2020-02-07,0,0.0,12,11,1.0,1,9775988.0,0.000000,0.000000,0.0
19,2020-02-08,0,0.0,12,11,1.0,1,9775988.0,0.000000,0.000000,0.0

In [395]:
df['Survived'].diff().fillna(0)[1:].reset_index(drop = True)[Reinfectable:]

90          0.0
91         -2.0
92         -2.0
93          0.0
94          0.0
         ...
1166     8541.0
1167     1790.0
1168    17381.0
1169    11976.0
1170    10593.0
Name: Survived, Length: 1081, dtype: float64

In [396]:
df.iloc[:len(df) - Reinfectable - 1, 3]

0             0
1             0
2             0
3             0
4             1
         ...
1076    5663251
1077    5673241
1078    5676545
1079    5693511
1080    5707426
Name: Inf_AC, Length: 1081, dtype: int64

In [381]:
df['Survived'].diff().fillna(0)[1:].reset_index(drop = True)[Reinfectable:] / (df['Survived'][Reinfectable:-1] * df['Infected'][Reinfectable:-1])

90      0.000000e+00
91     -3.354028e-09
92     -3.467725e-09
93      0.000000e+00
94      0.000000e+00
            ...
1166    2.953282e-08
1167    6.140770e-09
1168    5.862400e-08
1169    4.012581e-08
1170    3.464071e-08
Length: 1081, dtype: float64

In [383]:
(df['Survived'][Reinfectable:-1] * df['Infected'][Reinfectable:-1])

90      7.038271e+08
91      5.962979e+08
92      5.767471e+08
93      4.887686e+08
94      3.714641e+08
            ...
1166    2.892037e+11
1167    2.914944e+11
1168    2.964827e+11
1169    2.984612e+11
1170    3.057963e+11
Length: 1081, dtype: float64

In [385]:
df.iloc[:len(df) - Reinfectable - 1, 3]

0             0
1             0
2             0
3             0
4             1
         ...
1076    5663251
1077    5673241
1078    5676545
1079    5693511
1080    5707426
Name: Inf_AC, Length: 1081, dtype: int64

In [386]:
(df['Survived'][Reinfectable:-1] + df['Infected'][Reinfectable:-1])

90      9775448.0
91      9775437.0
92      9775433.0
93      9775422.0
94      9775410.0
          ...
1166    9309144.0
1167    9317903.0
1168    9320224.0
1169    9337758.0
1170    9350480.0
Length: 1081, dtype: float64

In [287]:

Recover1 = 7
Recover2 = 14

df['Infected'] = df['Inf_AC']
df.iloc[Recover2:, -1] = (df.iloc[Recover2:, -1]
                          .reset_index(drop = True)
                          .sub(df.iloc[:len(df) - Recover2, -1]))
df[df['Infected'] < 0]

Empty DataFrame
Columns: [Date, Death_AC, Death, Inf_AC, Infected]
Index: []

In [324]:
Total = 9776000
Reinfectable = 90

df['Recovered'] = 0
df.iloc[Recover2:, -1] = df.iloc[:len(df) - Recover2, 3]
#print(df[-50:])
df.iloc[Reinfectable:, -1] = (df.iloc[Reinfectable:, -1]
                              .reset_index(drop = True)
                              .sub(df.iloc[:len(df) - Reinfectable, -1]))
df['Recovered'] = df['Recovered'] - df['Death']

df['Survived'] = Total
df['Survived'] = df['Survived'] - df['Infected'] - df['Recovered'] - df['Death']


df.head()

         Date  Death_AC  Death  Inf_AC  Infected  Recovered   Survived
0  2020-01-20         0    0.0       0         0        0.0  9776000.0
1  2020-01-21         0    0.0       0         0        0.0  9776000.0
2  2020-01-22         0    0.0       0         0        0.0  9776000.0
3  2020-01-23         0    0.0       0         0        0.0  9776000.0
4  2020-01-24         0    0.0       1         1        0.0  9775999.0

In [323]:
df['Survived'] = Total
df['Survived'] = df['Survived'] - df['Infected'] - df['Recovered'] - df['Death']

df

            Date  Death_AC  Death   Inf_AC  Infected  Recovered   Survived
0     2020-01-20         0    0.0        0         0        0.0  9776000.0
1     2020-01-21         0    0.0        0         0        0.0  9776000.0
2     2020-01-22         0    0.0        0         0        0.0  9776000.0
3     2020-01-23         0    0.0        0         0        0.0  9776000.0
4     2020-01-24         0    0.0        1         1        0.0  9775999.0
...          ...       ...    ...      ...       ...        ...        ...
1167  2023-04-01      6383    1.0  5991150     31389   458096.0  9286514.0
1168  2023-04-02      6383    0.0  5993551     31920   455776.0  9288304.0
1169  2023-04-03      6384    1.0  5994393     32073   438241.0  9305685.0
1170  2023-04-04      6387    3.0  5997981     32819   425517.0  9317661.0
1171  2023-04-05      6390    3.0  6001334     33449   414294.0  9328254.0

[1172 rows x 7 columns]

In [213]:
Total = 9776000
df['Survived'] = Total - df[['Infected']]
df.iloc[Reinfectable:, -1] = (df.iloc[Reinfectable:, -1]
                              .reset_index(drop = True)
                              .add(df.iloc[:len(df) - Reinfectable, 1]))
df

            Date  Infected  Death  Recovered  Survived
0     2020-01-20         0      0          0   9776000
1     2020-01-21         0      0          0   9776000
2     2020-01-22         0      0          0   9776000
3     2020-01-23         0      0          0   9776000
4     2020-01-24         1      0          0   9775999
...          ...       ...    ...        ...       ...
1167  2023-04-01      2523   6383      -8063   9783467
1168  2023-04-02      2401   6383      -1434   9776903
1169  2023-04-03       842   6384     -16277   9792124
1170  2023-04-04      3588   6387     -11073   9786327
1171  2023-04-05      3353   6390      -8787   9784157

[1172 rows x 5 columns]

In [61]:
df['Total'] = 9776000
df['Surv'] = df['Total'] - df['defCnt']
df['Inf'] =

,Unnamed: 0,deathCnt,defCnt,gubun,gubunEn,incDec,isolClearCnt,isolIngCnt,localOccCnt,overFlowCnt,qurRate,stdDay,Total,Surv
0,0,0,0,서울,Seoul,0,0,0,0,0,0.0,2020-01-20,9776000,9776000
1,1,0,0,서울,Seoul,0,0,0,0,0,0.0,2020-01-21,9776000,9776000
2,2,0,0,서울,Seoul,0,0,0,0,0,0.0,2020-01-22,9776000,9776000
3,3,0,0,서울,Seoul,0,0,0,0,0,0.0,2020-01-23,9776000,9776000
4,4,0,1,서울,Seoul,1,0,1,0,1,0.0,2020-01-24,9776000,9775999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1167,1167,6383,5991150,서울,Seoul,2523,0,0,2522,1,63544.0,2023-04-01,9776000,3784850
1168,1168,6383,5993551,서울,Seoul,2401,0,0,2401,0,63569.0,2023-04-02,9776000,3782449
1169,1169,6384,5994393,서울,Seoul,842,0,0,842,0,63578.0,2023-04-03,9776000,3781607
1170,1170,6387,5997981,서울,Seoul,3588,0,0,3588,0,63616.0,2023-04-04,9776000,3778019
1171,1171,6390,6001334,서울,Seoul,3353,0,0,3353,0,63652.0,2023-04-05,9776000,3774666

In [60]:
df.iloc[0:5, -1] = 0
df

,Unnamed: 0,deathCnt,defCnt,gubun,gubunEn,incDec,isolClearCnt,isolIngCnt,localOccCnt,overFlowCnt,qurRate,stdDay,Total,Surv
0,0,0,0,서울,Seoul,0,0,0,0,0,0.0,2020-01-20,9776000,0
1,1,0,0,서울,Seoul,0,0,0,0,0,0.0,2020-01-21,9776000,0
2,2,0,0,서울,Seoul,0,0,0,0,0,0.0,2020-01-22,9776000,0
3,3,0,0,서울,Seoul,0,0,0,0,0,0.0,2020-01-23,9776000,0
4,4,0,1,서울,Seoul,1,0,1,0,1,0.0,2020-01-24,9776000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1167,1167,6383,5991150,서울,Seoul,2523,0,0,2522,1,63544.0,2023-04-01,9776000,3784850
1168,1168,6383,5993551,서울,Seoul,2401,0,0,2401,0,63569.0,2023-04-02,9776000,3782449
1169,1169,6384,5994393,서울,Seoul,842,0,0,842,0,63578.0,2023-04-03,9776000,3781607
1170,1170,6387,5997981,서울,Seoul,3588,0,0,3588,0,63616.0,2023-04-04,9776000,3778019
1171,1171,6390,6001334,서울,Seoul,3353,0,0,3353,0,63652.0,2023-04-05,9776000,3774666

In [16]:
df_S = 
df_I =

In [28]:
for i in range(m):
    df[df['stdDay'] == '2020-04-01'].index.item()

72

In [32]:
df.query('"2020-01-01" <= stdDay < "2020-04-01"')

,Unnamed: 0,deathCnt,defCnt,gubun,gubunEn,incDec,isolClearCnt,isolIngCnt,localOccCnt,overFlowCnt,qurRate,stdDay
0,0,0,0,서울,Seoul,0,0,0,0,0,0.00,2020-01-20
1,1,0,0,서울,Seoul,0,0,0,0,0,0.00,2020-01-21
2,2,0,0,서울,Seoul,0,0,0,0,0,0.00,2020-01-22
3,3,0,0,서울,Seoul,0,0,0,0,0,0.00,2020-01-23
4,4,0,1,서울,Seoul,1,0,1,0,1,0.00,2020-01-24
...,...,...,...,...,...,...,...,...,...,...,...,...
67,67,0,372,서울,Seoul,12,85,287,4,8,3.82,2020-03-27
68,68,0,390,서울,Seoul,18,90,300,4,14,4.01,2020-03-28
69,69,0,410,서울,Seoul,20,90,320,6,14,4.21,2020-03-29
70,70,0,426,서울,Seoul,16,90,336,7,9,4.38,2020-03-30
71,71,0,450,서울,Seoul,24,103,347,17,7,4.62,2020-03-31